@tailwind base;
@tailwind components;
@tailwind utilities;



.jj {
  bottom: 0;
  left: 0;
  padding: 10px 0;
  position: fixed;
  width: 64px;
  z-index: 10;
}

.tooltip::before {
  font-size: 25px;
  padding-bottom: 10px;
}

/* src/Sidebar.css */
.sidebar {
  width: 300px;
  height: 100vh;
  background: yellowgreen;
  color: #fff;
  position: fixed;
  top: 0;
  left: 95px;
  transition: width 0.3s;
 
}

.fixed-container{height: 100vh;}

.rs-panel-collapsible::before{display: none;}

.sidebar.collapsed {
  width: 30px;
}

.expand-icon {
  font-size: 40px;
  color: #000;
  cursor: pointer;
  position: absolute;
  transition: right 0.3s;
  top: 10px;
  right: -20px;
}

.main-content {
  margin-left: 300px;

  transition: margin-left 0.3s;

  width: 100vw;
  
}

.main-content.expanded {
  margin-left: 30px;
 
 

}



.alert {
  font-size: 55px;
  padding: 0;
}

.rs-badge-wrapper {
  padding: 0;
  text-align: start;
  border-radius: 0 !important;
}

.rs-badge-wrapper:hover {
  background-color: transparent;
}

.user-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar{box-shadow:5px -4px 13px 2px rgb(111, 110, 110);}



.nav-tooltip {
  cursor: pointer;
  transform: translateX(81%);
  top: 100%;
}

.tooltip {
  text-transform: capitalize;
}
.sidebar-li {
  text-transform: capitalize;
  padding: 7px;
  margin-bottom: 7px;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.flex-sidebar {
  display: flex;
  align-items: center;
  padding: 10px 0 0 20px;
  text-transform: capitalize;
}
.flex-site-search-cat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sele {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
  color:white;
}
.sele:focus{color:rgb(143, 137, 137);}

.active-link{background-color:rgb(161, 157, 157);}

svg.i.alert{background-color: transparent;border: none;}
.site-nav{display:grid;grid-template-columns: 1fr 1fr 1fr 1fr 1fr;box-shadow: 1px 1px 1px 4px gainsboro;}
.site-nav-link{padding: 20px 10%;color: #000;text-align: center;}
.site-nav-link.active{background-color: gainsboro;}



.site-main{display:flex;justify-content: end;align-items: start;flex-direction: column;font-weight: bold;}
.btn{font-size: 26px;color: white;padding: 20px  80px 50px 80px;background-color: green;margin:30px 40px;}
.btn:hover{background-color: green;}

.form-article{width: 80%;border: 1px solid gainsboro;max-height: 600px;margin: 4px 4px 2px 40px;display: none;}
.site-div{display: flex;justify-content: space-between;align-items: center ;max-width: 500px;}
.form-article.active{display: block;}
.card-list{display: grid;grid-template-columns: 1fr 1fr 1fr;gap: 0;max-height: 450px;overflow-y: scroll;margin-top: 50px;}
.card{height: 200px;}
.card-body{border: 1px solid gainsboro;}

.board-container{display: flex;justify-content: center;align-items: center;flex-direction: column;}
.board-card-container{display: grid;grid-template-columns: 1fr 1fr 1fr;gap: 20px;}



.new-modal{width: 70vw;}

.singleboard-container{display: grid;grid-template-columns: 1fr 1fr; width: 90%;height: 500px; border: none;} 
.board-report-container{display: grid;grid-template-columns: 1fr 1fr;}