@tailwind base;
@tailwind components;
@tailwind utilities;

body{overflow: hidden;}

.jj {
  bottom: 0;
  left: 0;
  padding: 10px 0;
  position: fixed;
  width: 64px;
  z-index: 10;
}

.tooltip::before {
  font-size: 25px;
  padding-bottom: 10px;
}

/* src/Sidebar.css */
.sidebar {
  width: 300px;
  height: 100vh;
  background: yellowgreen;
  color: #fff;
  position: fixed;
  top: 0;
  left: 95px;
  transition: width 0.3s;
 
}

.fixed-container{height: 100vh;}

.rs-panel-collapsible::before{display: none;}

.sidebar.collapsed {
  width: 30px;
}

.expand-icon {
  font-size: 40px;
  color: #000;
  cursor: pointer;
  position: absolute;
  transition: right 0.3s;
  top: 10px;
  right: -20px;
}

.main-content {
  margin-left: 300px;

  transition: margin-left 0.3s;
  background-color: gray;
  width: 100vw;
  
}

.main-content.expanded {
  margin-left: 30px;
  background-color: aquamarine;
 

}

.alert {
  font-size: 55px;
  padding: 0;
}

.rs-badge-wrapper {
  padding: 0;
  text-align: start;
  border-radius: 0 !important;
}

.rs-badge-wrapper:hover {
  background-color: transparent;
}

.user-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

[data-theme="dark"] {
  background-color: black;
  color: white;
}

.nav-tooltip {
  cursor: pointer;
  transform: translateX(81%);
  top: 100%;
}

.tooltip {
  text-transform: capitalize;
}
.sidebar-li {
  text-transform: capitalize;
  padding: 7px;
  margin-bottom: 7px;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.flex-sidebar {
  display: flex;
  align-items: center;
  padding: 10px 0 0 20px;
  text-transform: capitalize;
}
.flex-site-search-cat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sele {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
  color:white;
}
.sele:focus{color:rgb(143, 137, 137);}

.active-link{background-color:rgb(161, 157, 157);}