@tailwind base;
@tailwind components;
@tailwind utilities;

.jj {
  bottom: 0;
  left: 0;
  padding: 10px 0;
  position: fixed;
  width: 64px;
  z-index: 10;
}

.tooltip::before {
  font-size: 25px;
  padding-bottom: 10px;
}

/* src/Sidebar.css */
.sidebar {
  width: 300px;
  height: 100vh;
  background: yellowgreen;
  color: #fff;
  position: fixed;
  top: 0;
  left: 95px;
  transition: width 0.3s;
}

.sidebar.collapsed {
  width: 30px;
}



.expand-icon {
  font-size: 40px;
  color: #000;
   cursor: pointer;
 position: absolute;
 transition: right 0.3s;
  top: 10px;
  right: -20px;
 

}


.main-content {
  margin-left: 300px;
  padding: 20px;
  transition: margin-left 0.3s;
}

.main-content.expanded {
  margin-left: 50px;
}